<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>viaJava</title>
</head>
<body>
  <div>
    <h1>viaJava</h1>

    <hr />

    <table>
      <thead>
      <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Descição</th>
        <th>Estado</th>
        <th>Criado</th>
        <th>Editado</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${items}">
          <td th:text="${item.id}" ></td>
          <td th:text="${item.description}" ></td>
          <td>
              <span th:if="${item.isComplete} == true" th:text="Completo"/>
              <span th:unless="${item.isComplete} == true" th:text=""/>
          </td>
          <td th:text="${item.createdAt}" ></td>
          <td th:text="${item.updatedAt}" ></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>